/* Noto Sans variable */
/* Urbanist variable */
/* Mali */
/* Satisfy */
/* Unbounded */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Satisfy&family=Unbounded:wght@722&display=swap');
#closed-captions {
	position: relative;
	top: 2.5vh; /* Use vh to position relative to the viewport height */
	width: 100%; /* Make sure the captions take the full width */
}

#closed-captions {
	position: absolute;
   	top: 37em;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure GIFs are on top of the video */
    pointer-events: none; /* Prevent GIFs from interfering with video controls */
}

p {
	font-size: 1.8em;
	opacity: 0;
	color:black;
	position: absolute;
	top: -1.75vh;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	color: rgb(70, 0, 103); 
	width: 100%;
}

.highlighted {
	opacity: 1;
}


/* layout */

html {
	background-color: rgb(255, 180, 220);
}

body {
	height: 100%;
	margin: 0 auto;

	display: flex;
    justify-content: center;
	flex-direction: column;
    align-items: center;
    overflow: hidden;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Noto Serif Display", serif;
	font-weight: 900;
	color: rgb(70, 0, 103); 
	margin-top: 1em;
	margin-bottom: 3.75em;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;

	position: relative;
    width: 100%;
    max-width: 1000px; /* Optional max width */
    aspect-ratio: 16/9;
}

.highlighted {
    /* background-color: yellow; */
    font-weight: bold;
	font-family: "Urbanist", sans-serif;
	transition: opacity 0.2s ease-in-out;
}

/* Overriding the stair effect styling when it's active without removing the class */
#closed-captions .stair-effect {
	/* override highlight styling */
    background-color: transparent; 
    color: rgb(104, 14, 0);
}

video {
	width: 75vw;
	height: auto;
	margin: 0 auto;
	display: block;
    z-index: 1;
}

#closed-captions .serious-effect {
	color: rgb(114, 0, 166); 
}


/* Drag Queen test with different fonts */

.queenPlasma {
	font-family: "Noto Serif Display", serif;
	color: rgb(104, 14, 0); 
}
.queenPlasmaBold {
	font-family: "Noto Serif Display", serif;
	font-weight: 900;
	color: rgb(179, 1, 1); 
}

.queenHershii {
	font-family: "Unbounded", sans-serif;
	color: rgb(98, 1, 144); 
}
.queenHershiiBold {
	font-family: "Unbounded", sans-serif;
	font-weight: 800;
	color: rgb(201, 0, 195); 
}

.queenGeneva {
	font-family: "Mali", cursive;
	font-weight: 550;
	color: rgb(34, 82, 0); 
}

.queenGenevaBold {
	font-family: "Mali", cursive;
	font-weight: 700;
	color: rgb(57, 136, 0); 
}
.queenGenevaCursive {
	font-size: 1.2em;
	font-family: "Satisfy", cursive;
	font-weight: 400;
	color: rgb(34, 82, 0); 
}

#line-1, #line-5, #line-13, #line-21, #line-42, #line-43 {
	font-style: italic;
}

/* Oh, she's royal styling (line 9, 10 and 11) */

#line-10.stair-effect, #line-11.stair-effect, #line-12.stair-effect,
#line-19.serious-effect, #line-20.serious-effect {
	position: absolute;
	font-family: "Noto Serif Display", serif;
	text-shadow: rgb(255, 255, 255) 3px 0 1px;
	font-size: 3em;
    opacity: 1;
}

#line-19.serious-effect, #line-20.serious-effect {
	animation: zoom-out 1.3s ease;
}

#line-10.stair-effect {
	top: -80%;
    left: 20%;
}

#line-11.stair-effect {
	top: -72%;
    left: 25%;
}

#line-12.stair-effect {
    top: -64%;
    left: 30%;
}


/* Bubble style test */

#line-10.stair-effect::before,
#line-11.stair-effect::before,
#line-12.stair-effect::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    border-radius: 3em; 
    padding: 10px; 
    z-index: -1; 
    width: 5em;
    height: 2em;
	opacity: 0.3;
	transition: opacity 1.5s ease;
}

#line-10.stair-effect::before {
    top: -35%;
    left: 35.5%;
}

#line-11.stair-effect::before {
    top: -40%;
    left: 37%;
}

#line-12.stair-effect::before {
    top: -44%;
    left: 35%;
}


/* Bitch, the game changed */
#line-19.serious-effect {
	top: -75%;
    left: 20%;
}

#line-20.serious-effect {
	top: -66%;
    left: 30%;
}



/* ------------------------ */
/* - GENEVA INTRO STYLING - */
/* ------------------------ */

#line-44.highlighted,
#line-45.highlighted,
#line-46.highlighted,
#line-47.highlighted {
	position: absolute;
	font-family: "Satisfy", cursive;
	font-weight: 400;
}

/* Viva Mexico... */
#line-44.highlighted {
    font-size: 6em;
    top: -65%;
    left: 50%;
    background: linear-gradient(to right, rgb(20, 212, 3), rgb(235, 255, 14), rgb(253, 101, 0));
    background-clip: text; 
    color: transparent;
}

#line-45.highlighted {
	font-size: 7em;
    top: -75%;
	left: 0;
	color: rgb(20, 212, 3);
	animation: scale 1s alternate;
}

#line-46.highlighted {
	font-size: 7em;
    top: -70%;
    left: 5%;
	color: rgb(253, 101, 0);
	animation: scale 2s alternate;
}

#line-47.highlighted {
	font-size: 7em;
    top: -75%;
    left: 0%;
	color: rgb(20, 212, 3);
	animation: scale-kiss 1.2s alternate;
}

#line-55.geneva, #line-56.geneva, #line-57.geneva, #line-58.geneva, #line-59.geneva,
#line-60.geneva {
	position: absolute;
} 

#line-55.geneva {
	font-size: 2.75em;
	top: -80%;
    left: 30%;
	color: rgb(4, 50, 0);
}

#line-56.geneva {
	font-family: "Satisfy", cursive;
	font-size: 4em;
	top: -85%;
    left: 25%;
	color: rgb(253, 101, 0);
}
#line-57.geneva {
	font-size: 3em;
	top: -85%;
    left: 25%;
	color: rgb(4, 50, 0);
}

#line-58.geneva {
	font-family: "Satisfy", cursive;
	font-size: 4em;
	top: -85%;
    left: 25%;
	color: rgb(253, 101, 0);
}

#line-59.geneva {
	font-size: 2.5em;
	top: -50%;
    left: 35%;
	color: rgb(4, 50, 0);
}

#line-60.geneva {
	font-size: 10em;
	top: -90%;
    left: 25%;
	text-shadow: 0 -1rem 2rem #ffffff, 0 1rem 3rem #ffffff;
}


@keyframes scale {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes scale-kiss {
    0% {
        transform: scale(0.5);
    }
	50% {
		transform: scale(1.5);
	}
    100% {
        transform: scale(0.5);
    }
}




/* ------------------------------ */
/* GIF STYLING FOR VISUAL EFFECTS */
/* ------------------------------ */

.hidden {
    display: none;
}

.show {
    opacity: 1;
    display: block; /* Ensure shown GIFs occupy space */
}

.gifs {
	position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure GIFs are on top of the video */
    pointer-events: none; /* Prevent GIFs from interfering with video controls */
}

.gifs img {
    position: absolute;
}

/* Additional styles for the gifs: PLASMA */

/* Add the id here if the gif doesn't show up */
#surprised-gif, #pizazz-gif, #twirl-gif, #exclamation-gif-1, #surprised-wide-1, #exclamation-gif-2, #stomp,
#exclamation-gif-3, #sparkles, #sparkles-2 {
	overflow: hidden;
	position: relative;
}

#surprised-gif {
	top: 15%;
    left: 28%;
    width: 35%;

	transform: rotate(-185deg);
}

#pizazz-gif {

	top: 0;
    left: 40%;
    width: 35%;
    transform: translateX(-50%);
}

#twirl-gif {
	width: 50%;

	top: 15%;
	left: 26%;
}

/* Hershii being surprised */
#exclamation-gif-1 {
	top: 0;
    left: 30%;
    width: 35%;
}
/* Hershii laughing */
#surprised-wide-1 {
	width: 25%;
	
	top: 20%;
	left: 35%;
	transform: rotate(-255deg);
}

/* Plasma: Wider? Well I thought you said whiter, and I was like... */
#exclamation-gif-2 {
	width: 40%;

	top: 10%;
	left: 30%;
}

/* Geneva dramatic heel stomp! */
#stomp {
	width: 75%;

	top: 12%;
	left: 43%;
}

/* Plasma being surprised (again) */
#exclamation-gif-3 {
	width: 40%;

	top: 10%;
	left: 27%;

}

#sparkles {
	width: 60%;

	top: 15%;
	left: 15%;
}

#sparkles-2 {
	width: 60%;

	top: 10%;
	left: 15%;
}


/* Music aura */

.plasma-music {
    animation: plasmaBackground 1s ease-in-out infinite;
}

.mexican-music {
	animation: genevaBackground 1s ease-in-out infinite;
}


@keyframes plasmaBackground {
    0% {
        background: linear-gradient(to right, rgb(233, 80, 223), rgb(255, 112, 112));
    }
    50% {
        background: linear-gradient(to right, rgb(255, 112, 112), rgb(78, 240, 184));
    }
    100% {
        background: linear-gradient(to right, rgb(78, 240, 184), rgb(233, 80, 223));
    }
}

@keyframes genevaBackground {
    0% {
        background: linear-gradient(to right, rgb(234, 255, 0), rgb(246, 28, 28));
    }
    50% {
        background: linear-gradient(to right, rgb(246, 28, 28), rgb(16, 186, 0));
    }
    100% {
        background: linear-gradient(to right, rgb(16, 186, 0), rgb(234, 255, 0));
    }
}



.changed {
	animation: dramatic-change 3s ease;
}

@keyframes dramatic-change {
    0% {
        background-color: rgba(128, 0, 128, 0);
    }
    100% {
        background-color: rgba(128, 0, 128, 0.9);
    }
}


@keyframes zoom-out {
	0% {
		font-variation-settings: "wdth" 75;
		font-style: italic;
		font-weight: 100;
	}

	100% {
		font-variation-settings: "wdth" 100;
		font-style: italic;
		font-weight: 700;
	}
}

@keyframes vertical-bounce {
	0% {
		font-variation-settings: "wdth" 62.5;
		font-style: italic;
		font-weight: 100;
	}

	50% {
		font-variation-settings: "wdth" 100;
		font-style: italic;
		font-weight: 800;
	}

	100% {
		font-variation-settings: "wdth" 62.5;
		font-style: italic;
		font-weight: 100;
	}
}


/* SPANS ADDITIONAL STYLING */

@keyframes tilting {
	0% { 
		transform: rotate(0deg); 
	}
	25% { 
		transform: rotate(5deg); 
	}
	50% { 
		transform: rotate(0deg); 
	}
	75% { 
		transform: rotate(-5deg); 
	}
	100% { 
		transform: rotate(0deg); 
	}
  }

#line-35 {
	position: relative;
	text-align: center;
	margin: 0 auto;
    display: inline-block;
    width: 100%;
	top: 0.2em;
}

#shake {
	animation: tilting 0.15s infinite;
	
	top: -0.2em;
	font-size: 1.5em;
}
#end {
	position: relative;

}

/* Responsiveness for larger screens */
@media (max-width: 760px) {
    video {
        width: 85vw;
    }
	#closed-captions {
		top: 120%;
	}
}


@media (min-width: 760px) {
    video {
        width: 85vw;
    }
	#closed-captions {
		top: 100%;
	}
}

@media (min-width: 1000px) {
    video {
        width: 90vw; 
    }

	#closed-captions {
		top: 100%;
	}
}


@media (min-width: 1150px) {
    video {
        width: 90vw;
    }

	#closed-captions {
		top: 110%;
		font-size: 1.3em;
	}

}

@media (min-width: 1300px) {
	video {
        width: clamp(60vw, 85vw, 85em);
    }

	#closed-captions {
		top: 123%;
		font-size: 1.3em;
	}

}


@media (min-width: 2300px) {
	h1 {
        visibility: hidden;
    }
}

@media (max-width: 2299px) {
    h1 {
        visibility: visible;
    }
}

